<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="aungkyawpaing.uyfresherwelcome"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:name=".activities.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activities.ResultActivity"
      android:label="Result" />

    <activity android:name=".activities.WelcomeActivity" />

    <meta-data
      android:name="com.parse.APPLICATION_ID"
      android:value="f7Qx4d1TPvDrm9SgkL9VbU25y4I5nW7QMhqlyz3r" />
    <meta-data
      android:name="com.parse.CLIENT_KEY"
      android:value="wcRJXp8D9uDXLRcPrFq59Q6WqoNhRNjtDT4lEnm0" />
  </application>

</manifest>
